$lightGreen: #00813e;
$darkBlue: #081F31;
$darkYellow:#FBC02D;

$darkBlack: #212121;
$darkTeal: #004D40;

$medianGray: #303030;
$darkGray: #2E2E3B;

$cuteBlack: #121212;

$habboBlue: #0C4B70;

body {
  background: $cuteBlack;
  color: white;
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
  }
}

p {
  color: darken(white, 20%);
}

#root {
  overflow: hidden;
}



.page-container{
  height: calc(100vh - 350px);
  overflow-y: scroll;

  .page-header {
    background: $darkTeal;
    background-repeat: no-repeat;
  }

}

.footer-container {
  height: 120px;
  position: relative;
}

.header-container {
  background-image: none;
}

.navigation-container {
  background: $darkBlack;

  .navigation-menu {

    .navigation-item  {


      a {
        color: darken(white, 15%);
      }

      &:hover>a {
        color: white;
      }

      &.selected>a {
        border-color: white;
        color: white;
      }

      &.has-items .navigation-submenu {

        background: $darkBlack;

        .navigation-subitem>a {
          color: white;
          text-transform: uppercase;
        }

      }

    }

  }

}

.footer-container {
  background: transparent;
}

.page-container .page-content article.default-section, .page-container .page-content aside.default-section {
  background-color: $darkBlack;
  color: white;
}

.table td, .table th {
  color: white;
}

.btn {
  border-radius: 4px;
}

.row-container {
  border: none;
  background-color: $medianGray;

  &:hover {
    box-shadow: 0px 10px 10px -5px darken(#303030, 15%);
  }

}

.btn-success {
  background: $lightGreen;

  &:focus, &:hover {
    background: lighten($lightGreen, 10%);
    border: 2px solid lighten($lightGreen, 10%);
    color: white;
    outline: 0;
  }

}

.aside-title {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.logo-container {
  margin-top: 30px;
}

.rounded-input, .rounded-textarea, .form-control {

  background: #444452;
  border-color: #2E2E3B;
  color: white !important;

  &:focus {
    background: $darkGray;
  }

}

.card {
  background: $cuteBlack;

  .card-title {
    text-transform: uppercase;
  }

}

.list-group-item {
  background: transparent;
  border-color: darken(white, 60%);
}

.text-dark {
  color: darken(white, 12%) !important;
}


.login-popup {
  background: #222222;

  &:after {
    background-image: url('/img/header/pattern.png');
    background-color: #004D40;
  }

  h3 {
    color: white;
  }

}

.modal-content {
  background: transparent;
}

.modal-backdrop.fade {
  opacity: .7;
}

.tab-card {

  .aside-title {
    margin-bottom: 20px;
  }

  .navigation {
    background: $cuteBlack;
  }

}

.page-container[data-page = "games_ranking"] .ranking-content td:nth-child(2) a {
  color: white;
}

.details-username {
  color: white;
}

.member-container {
  background: $cuteBlack;
  padding: 10px;

  &:hover {
    box-shadow: 2px 2px #2E2E2E;
  }

}

.login-popup {
  padding: 37px 50px 50px 175px;
  max-width: 550px;
}

.login-popup:before, .login-popup:after {
  width: 250px;
}