$lightGreen: #00813e;
$darkBlue: #081F31;
$darkYellow:#FBC02D;

$darkBlack: #212121;
$darkTeal: #004D40;

$medianGray: #303030;

body {
  background: #121212;
  color: white;
}

#root {
  overflow: hidden;
}

.page-container{
  height: calc(100vh - 350px);
  overflow-y: scroll;

  .page-header {
    background: $darkTeal;
  }

}

.footer-container {
  height: 120px;
  position: relative;
}

.header-container {
  background-image: none;
}

.navigation-container {
  background: $darkBlack;

  .navigation-menu {

    .navigation-item  {


      a {
        color: darken(white, 15%);
      }

      &:hover>a {
        color: white;
      }

      &.selected>a {
        border-color: white;
        color: white;
      }

      &.has-items .navigation-submenu {

        background: $darkBlack;

        .navigation-subitem>a {
          color: white;
        }

      }

    }

  }

}

.footer-container {
  background: transparent;
}

.page-container .page-content article.default-section, .page-container .page-content aside.default-section {
  background-color: #1E1E1E;
  color: white;
}

.table td, .table th {
  color: white;
}

.btn {
  border-radius: 4px;
}

.row-container {
  border: none;
  background-color: $medianGray;

  &:hover {
    box-shadow: 0px 10px 10px -5px darken(#303030, 15%);
  }

}

.btn-success {
  background: $lightGreen;

  &:focus, &:hover {
    background: lighten($lightGreen, 10%);
    border: 2px solid lighten($lightGreen, 10%);
    color: white;
    outline: 0;
  }

}

.aside-title {
  border: none;
}

.logo-container {
  margin-top: 30px;
}