@import 'src/override';

.guest-layout {
  background: $habboBlue;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  .content {
    width: 600px;
  }

  h2, h3 {
    text-transform: uppercase;
  }

  article {
    background: $darkBlue;
    border-radius: 4px;
    padding: 10px;
  }

  button {
    border: 2px solid lighten($lightGreen, 5%);
    color: white;
    text-transform: uppercase;
  }

  .guest-form {

    label {
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .form-group {
      p {
        font-size: 14px;
      }
    }

  }

  .guest-link {
    color: darken($darkYellow, 10%);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $darkYellow;
    }

  }

}