.page-header-content {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 80px;
  width: 100%;
  list-style: none;
  margin-left: -20px;
}

.page-container .page-header {
  padding-left: 0;
}