.tab-card {

  .aside-title{
    margin-top: 0;
  }

  .navigation {
    background: #001726 !important;
    top: -30px !important;
    left: -180px !important;

    .selected {
      color: #fff;
    }

    li {
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      color: darken(#fff, 20);
      display: block;
      position: relative;
      font-size: 30px;
      cursor: pointer;
    }

  }

}