.frank-box {
  background-image: url('https://i.imgur.com/kBjuET6.gif');
  color: white;
  display: block;
  height: 368px;
  padding: 80px 17px 35px 242px;
  width: 639px;

  h1 {
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
  }

}