@import "src/override";

.article-list {

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    list-style: none;
    padding: 0;
    line-height: 10px;

    li {
      background: $cuteBlack;
      box-shadow: 4px 4px lighten($cuteBlack, 5%);
      cursor: pointer;
      display:block;
      float:left;
      padding:0;
      height: 140px;
      width: 100%;
      margin-bottom: 20px;

      &:hover {
        box-shadow: 4px 4px lighten($cuteBlack, 10%);
      }
    }

  }

}