#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

*,*:before,*:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0 none;
    -ms-interpolation-mode: bicubic;
    image-rendering: auto;
}

.pixelated,
.pixelated:before,
.pixelated:after{
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
}

*>div:after{
    content: "";
    display: block;
    clear: both;
}

.flex-container{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-container.flex-direction-column{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-container.flex-vertical-center{
    -ms-flex-align: center;
    align-items: center;
}

.flex-container.flex-horizontal-center{
    -ms-flex-pack: center;
    justify-content: center;
}

.cant-select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html{
    height: 100%;
}

body{
    background-color: #f7f9f9;
    min-width: 320px;
    min-height: 100%;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
}

body.hotel-visible{
    overflow: hidden;
}

a{
    color: #0d7bc1;
    text-decoration: underline;
}

b, strong{
    font-weight: 600;
}

ul.thumb-style{
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.thumb-style li{
    padding-left: 1.5em;
}

ul.thumb-style li:before{
    font-family: "Ubuntu Habbo", sans-serif;
    content: "\2022";
    display: inline-block;
    margin-left: -1.5em;
    width: 1.5em;
}

.habbo-icons{
    font-family: "Ubuntu Habbo", "Poppins", Arial, sans-serif;
}

hr{
    border: 0 none;
    border-top: 1px solid #ccc;
    width: 100%;
    height: 0;
    margin: 20px 0;
    padding: 0;
}

/* Head */
h1, h2, h3, h4, h5, h6{
    margin-bottom: 15px;
    font-weight: 500;
}

h4, h5, h6{
    margin-bottom: 5px;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child{
    margin-top: 0;
}

h1{
    font-size: 30px;
    font-weight: 600;
}

h3{
    font-size: 20px;
    line-height: 26px;
}

h4{
    font-size: 16px;
}

h5{
    font-size: 15px;
}

h6{
    font-size: 12px;
}

/* Tables */
.default-table{
    width: 100%;
    border: 0 none;
    border-spacing: 0;
}

.default-table th,
.default-table td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 0 17px;
    text-align: left;
}

.default-table th{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    color: #888;
    padding-bottom: 10px;
}

.default-table td{
    padding-top: 17px;
    font-size: 13px;
}

/* Inputs */
.rounded-input,
.rounded-textarea{
    background-color: #fff;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px;
    padding: 11px 24px;
    display: block;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #333;
    border: 1px solid #b4b4b4;
    width: 100%;
    height: 47px;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
}

.rounded-input:not([type = "password"]),
.rounded-textarea{
    font-family: "Ubuntu Habbo", "Poppins", Arial, sans-serif;
}

.rounded-textarea{
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    height: initial;
    min-height: 11em;
    resize: vertical;
    padding: 16px 20px;
}

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #333 !important;
    background-color: #fff !important;
}

.rounded-input:focus,
.rounded-textarea:focus{
    border-color: #333;
}

.rounded-input.blue-active:focus,
.rounded-textarea.blue-active:focus{
    border-color: #138cc8;
}

.rounded-input.purple-active:focus,
.rounded-textarea.purple-active:focus{
    border-color: #8c45a9;
}

.rounded-input.darkgrey-active:focus,
.rounded-textarea.darkgrey-active:focus{
    border-color: #333;
}

.rounded-input.darkblue-active:focus,
.rounded-textarea.darkblue-active:focus{
    border-color: #191c3a;
}

.rounded-input.green-active:focus,
.rounded-textarea.green-active:focus{
    border-color: #67ad4d;
}

.rounded-input.browngrey-active:focus,
.rounded-textarea.browngrey-active:focus{
    border-color: #676563;
}

.form-help{
    font-size: 12px;
}
/* Buttons */
.rounded-button{
    background-color: transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 11px 24px;
    display: inline-block;
    text-decoration: none;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    border: 2px solid #333;
    cursor: pointer;
    height: 47px;
    line-height: 21px;
    text-shadow: none;
    text-align: center;
    -webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
}

.rounded-button:not(.white):not([disabled]):not(.no-hover):hover,
.rounded-button:not(.white).plain{
    background-color: #333;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.rounded-button[disabled]{
    opacity: 0.5;
    cursor: default;
}

.rounded-button .purse{
    -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
    float: right;
    padding: 0 25px 0 9px;
    margin-left: 9px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.rounded-button .purse:before{
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
}

.rounded-button .purse.diamonds:before{
    background-image: url(../images/hotel/purses/diamonds-icon.png);
}

.rounded-button .purse.loyalties:before{
    background-image: url(../images/hotel/purses/loyalty-icon.png);
}

.rounded-button.white{
    color: #fff;
    border-color: #fff;
}

.rounded-button.white:not([disabled]):not(.no-hover):hover,
.rounded-button.white.plain{
    background-color: #fff;
    color: #333;
}

.rounded-button.blue{
    color: #138cc8;
    border-color: #138cc8;
}

.rounded-button.blue:not([disabled]):not(.no-hover):hover,
.rounded-button.blue.plain{
    background-color: #138cc8;
    color: #fff;
}

.rounded-button.blue.plain:not([disabled]):not(.no-hover):hover{
    border-color: #0c83bf;
    background-color: #0c83bf;
}

.rounded-button.lightblue{
    color: #33c8f3;
    border-color: #33c8f3;
}

.rounded-button.lightblue:not([disabled]):not(.no-hover):hover,
.rounded-button.lightblue.plain{
    background-color: #33c8f3;
    color: #fff;
}

.rounded-button.lightblue.plain:not([disabled]):not(.no-hover):hover{
    border-color: #1ebae8;
    background-color: #1ebae8;
}

.rounded-button.darkblue{
    color: #191c3a;
    border-color: #191c3a;
}

.rounded-button.darkblue:not([disabled]):not(.no-hover):hover,
.rounded-button.darkblue.plain{
    background-color: #191c3a;
    color: #fff;
}

.rounded-button.darkblue.plain:not([disabled]):not(.no-hover):hover{
    border-color: #0d0f1f;
    background-color: #0d0f1f;
}

.rounded-button.purple{
    color: #8c45a9;
    border-color: #8c45a9;
}

.rounded-button.grey{
    color: #999999;
    border-color: #999999;
}

.rounded-button.white{
    color: #ffffff;
    border-color: #ffffff;
}

.rounded-button.purple:not([disabled]):not(.no-hover):hover,
.rounded-button.purple.plain{
    background-color: #8c45a9;
    color: #fff;
}

.rounded-button.purple.plain:not([disabled]):not(.no-hover):hover{
    border-color: #7d3f97;
    background-color: #7d3f97;
}

.rounded-button.red{
    color: #f46048;
    border-color: #f46048;
}

.rounded-button.red:not([disabled]):not(.no-hover):hover,
.rounded-button.red.plain{
    background-color: #f46048;
    color: #fff;
}

.rounded-button.red.plain:not([disabled]):not(.no-hover):hover{
    border-color: #d95843;
    background-color: #d95843;
}

.rounded-button.lightgreen{
    color: #37e397;
    border-color: #37e397;
}

.rounded-button.lightgreen:not([disabled]):not(.no-hover):hover,
.rounded-button.lightgreen.plain{
    background-color: #37e397;
    color: #fff;
}

.rounded-button.lightgreen.plain:not([disabled]):not(.no-hover):hover{
    border-color: #24c880;
    background-color: #24c880;
}

.rounded-button.green{
    color: #67ad4d;
    border-color: #67ad4d;
}

.rounded-button.green:not([disabled]):not(.no-hover):hover,
.rounded-button.green.plain{
    background-color: #67ad4d;
    color: #fff;
}

.rounded-button.green.plain:not([disabled]):not(.no-hover):hover{
    border-color: #598e46;
    background-color: #598e46;
}

.rounded-button.turquoise{
    color: #1baea6;
    border-color: #1baea6;
}

.rounded-button.turquoise:not([disabled]):not(.no-hover):hover,
.rounded-button.turquoise.plain{
    background-color: #1baea6;
    color: #fff;
}

.rounded-button.turquoise.plain:not([disabled]):not(.no-hover):hover{
    border-color: #1a958f;
    background-color: #1a958f;
}

.rounded-button.brown{
    color: #37241c;
    border-color: #37241c;
}

.rounded-button.brown:not([disabled]):not(.no-hover):hover,
.rounded-button.brown.plain{
    background-color: #37241c;
    color: #fff;
}

.rounded-button.brown.plain:not([disabled]):not(.no-hover):hover{
    border-color: #231711;
    background-color: #231711;
}

.rounded-button.browngrey{
    color: #676563;
    border-color: #676563;
}

.rounded-button.browngrey:not([disabled]):not(.no-hover):hover,
.rounded-button.browngrey.plain{
    background-color: #676563;
    color: #fff;
}

.rounded-button.browngrey.plain:not([disabled]):not(.no-hover):hover{
    border-color: #565451;
    background-color: #565451;
}

.submit-button{
    margin-top: 40px !important;
    text-align: center;
}

/* Google Recaptcha */
.grecaptcha-badge{
    display: none !important;
}

/* Header */
.header-container{
    background-image: url(../img/header/bg.png);
    background-position: center;
    background-size: auto 500px;
    background-color: #000;
    position: relative;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

.header-container:before{
    background-color: rgba(32, 107, 156, 0.7);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header-container .header-content{
    position: relative;
    z-index: 1;
    height: 100%;
}

.header-container .header-content .logo{
    width: 399px;
    height: 399px;
    font-size: 0;
    position: relative;
}

.header-container .header-content .logo a{
    display: block;
    width: 270px;
}

.header-container .header-content .account-container{
    position: absolute;
    right: 0;
}

.header-container .header-content .account-container .account-buttons .rounded-button.plain{
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.header-container .header-content .account-container .account-buttons .rounded-button{
    opacity: 0.85;
}

.header-container .header-content .account-container .account-buttons .rounded-button:hover{
    opacity: 1;
}

.header-container .header-content .account-container .account-buttons .rounded-button.plain,
.header-container .header-content .account-container .account-buttons .rounded-button:not(.plain):hover{
    color: #2d74a6;
}

.header-container .header-content .account-container .account-buttons .rounded-button:not(.plain):not(:hover){
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

/* Large header */
.header-container.is-large{
    height: 500px;
}

.header-container.is-large .header-content .logo{
    background-image: url(../images/web/header/logo-large.png);
    margin: 0 auto;
    top: -70px;
    padding-top: 70px;
}

.header-container.is-large .header-content .logo a{
    height: 180px;
    margin: 12px auto 0;
}

.header-container.is-large .header-content .account-container{
    left: 0;
    bottom: 0;
    padding-bottom: 25px;
}

.header-container.is-large .header-content .account-container .account-title{
    font-size: 19px;
    margin-bottom: 55px;
    padding: 0 25px;
}

.header-container.is-large .header-content .account-container .account-title span{
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 38px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
}

.header-container.is-large .header-content .account-container .account-buttons span{
    font-size: 16px;
    margin: 0 15px;
}

/* Small header */
.header-container.is-small{
    height: 150px;
    padding: 0 120px;
}

.header-container.is-small .header-content .logo{
    top: -120px;
    left: -65px;
    padding-top: 120px;
}

.header-container.is-small .header-content .logo a{
    height: 105px;
    margin: 25px auto 0;
}

.header-container.is-small .header-content .account-container{
    bottom: 50px;
}

.header-container.is-small .header-content .account-container .account-title{
    display: none;
}

.header-container.is-small .header-content .account-container .account-buttons span{
    font-size: 0;
    margin: 0 7px;
}

/* Navigation */
.navigation-container{
    -webkit-box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.1) inset;
    background-color: #fff;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.navigation-container .navigation-menu{
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 80px;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-container .navigation-menu .navigation-item{
    margin-right: 37px;
    height: inherit;
    position: relative;
}

.navigation-container .navigation-menu .navigation-item>a{
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #222;
    height: inherit;
    display: block;
    padding-top: 28px;
    border-bottom: 3px solid transparent;
}

.navigation-container .navigation-menu .navigation-item:hover>a{
    color: #7d7d7d;
}

.navigation-container .navigation-menu .navigation-item.selected>a{
    border-color: #2d759b;
    color: #2d759b;
}
.navigation-container .navigation-menu .navigation-item.has-items .navigation-submenu{
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: absolute;
    top: 74px;
    left: -11px;
    list-style: none;
    margin: 0;
    padding: 6px 0 0;
    width: 170px;
    display: none;
    z-index: 9;
}

.navigation-container .navigation-menu .navigation-item.has-items.selected .navigation-submenu:before{
    border-top: 3px solid #2d759b;
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    display: block;
}

.navigation-container .navigation-menu .navigation-item.has-items:hover .navigation-submenu{
    display: block;
}

.navigation-container .navigation-menu .navigation-item.has-items .navigation-submenu .navigation-subitem>a{
    padding: 6px 11px;
    display: block;
    color: #333;
    text-decoration: none;
}

.navigation-container .navigation-menu .navigation-item.has-items .navigation-submenu .navigation-subitem.navigation-divider{
    background-color: #ececec;
    height: 1px;
}

.navigation-container .navigation-menu .navigation-item.has-items .navigation-submenu .navigation-subitem>a:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.navigation-container .navigation-menu .navigation-item.mobile-menu{
    padding: 27px 28px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    display: none;
}

.navigation-container .navigation-menu .navigation-item.mobile-menu:before{
    font-family: "FontAwesome", sans-serif;
    font-size: 21px;
    content: "\f0c9";
    display: inline-block;
    position: relative;
    top: 2px;
    padding-right: 14px;
}

.navigation-container .navigation-menu .navigation-item.main-link-item{
    margin-right: 42px;
}

.navigation-container .navigation-menu .navigation-item.main-link-item>a{
    background-image: url(../img/logo/regular.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 135px;
    display: block;
    font-size: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation-container .navigation-menu .navigation-item.navigation-right-side-item{
    margin-left: auto;
    margin-right: 0;
}

.navigation-container .navigation-menu .navigation-item.navigation-right-side-item>a{
    text-transform: none;
    padding: 28px 40px 0 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation-container .navigation-menu .navigation-item.navigation-right-side-item>a .account-avatar{
    -webkit-border-radius: 0 0 64px 64px;
    -moz-border-radius: 0 0 64px 64px;
    border-radius: 0 0 64px 64px;
    float: left;
    position: relative;
    top: -28px;
    overflow: hidden;
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

.navigation-container .navigation-menu .navigation-item.navigation-right-side-item>a .account-avatar img{
    position: relative;
    top: -6px;
}

.navigation-container .navigation-menu .navigation-item.navigation-right-side-item>a:after{
    position: relative;
    top: -6px;
}

.navigation-container .navigation-menu .navigation-item.navigation-right-side-item>a span{
    max-width: 90px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
}

.navigation-container .navigation-menu .navigation-item.navigation-right-side-item.has-items .navigation-submenu{
    left: 1px;
    right: 0;
    width: auto;
}

/* Mobile navigation */
.mobile-navigation-container{
    background-color: #ededed;
    display: none;
}

.mobile-navigation-container .navigation-menu,
.mobile-navigation-container .navigation-menu .navigation-item.has-items .navigation-submenu{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobile-navigation-container .navigation-menu .navigation-item{
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-navigation-container .navigation-menu .navigation-item>a{
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #222;
    height: 35px;
    display: block;
    line-height: 35px;
    padding: 0 10px;
}

.mobile-navigation-container .navigation-menu .navigation-item.has-items>a:after{
    font-family: "FontAwesome", sans-serif;
    font-size: 16px;
    content: "\f107";
    float: right;
}

.mobile-navigation-container .navigation-menu .navigation-item.has-items .navigation-submenu{
    display: none;
}

.mobile-navigation-container .navigation-menu .navigation-item.has-items .navigation-submenu .navigation-subitem>a{
    padding: 6px 25px;
    display: block;
    color: #333;
    text-decoration: none;
}

/* Page */
.page-container{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: calc(100% - 100px);
    padding-bottom: 100px;
}

.page-container .page-header{
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) inset;
    background-position: center left;
    background-repeat: no-repeat;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 160px;
    color: #fff;
    padding-left: 395px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    font-weight: 300;
    position: relative;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
}

.page-container .page-header h1{
    margin-bottom: 8px;
}

.page-container .page-content{
    width: 100%;
    max-width: 1055px;
    margin: 0 auto;
    padding: 55px 0;
    font-family: "Ubuntu Habbo", "Poppins", Arial, sans-serif;
}

.page-container .page-content .not-habbo-icons{
    font-family: "Poppins", Arial, sans-serif;
}

.page-container .page-content article.default-section,
.page-container .page-content aside.default-section{
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    line-height: 24px;
    font-weight: 300;
}

.page-container .page-content article.default-section:not(:first-child),
.page-container .page-content aside.default-section:not(:first-child){
    margin-top: 33px;
}

.page-container .page-content .default-section p{
    margin: 0 0 17px;
}

.page-container .page-content .default-section p:first-child{
    margin-top: 0;
}

.page-container .page-content .default-section p:last-child{
    margin-bottom: 0;
}

.page-container .page-content .left-side{
    width: 692px;
    float: left;
    clear: left;
}

.page-container .page-content .right-side{
    width: 330px;
    float: right;
    clear: right;
}

.aside-title{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.aside-title span{
    font-weight: 300;
    font-size: 12px;
    float: right;
}

/* Rows */
.row:after{
    content: "";
    clear: both;
    display: block;
}

.row.space-bottom{
    margin-bottom: 20px;
}

.row .column-2{
    width: 50%;
    float: left;
}

.row .column-3{
    width: 33.33%;
    float: left;
}

.row .column-2:nth-child(1),
.row .column-3:nth-child(1),
.row .column-3:nth-child(2){
    padding-right: 15px;
}

.row .column-2:nth-child(2),
.row .column-3:nth-child(3),
.row .column-3:nth-child(2){
    padding-left: 15px;
}

/* Page - Home */
.page-container[data-page = "home"] .page-header{
    background-image: url(../img/header/news.png);
    background-color: #47aeec;
}

.page-container[data-page = "home"] .page-content .articles-container{
    margin: -16px -16px 40px;
}

.page-container[data-page = "home"] .page-content .articles-container .article-container{
    width: 33.33%;
    float: left;
}

.page-container[data-page = "home"] .page-content .articles-container .article-container .article-content{
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: #fff;
    width: 100%;
    max-width: 330px;
    height: 274px;
    margin: 16px auto;
    text-decoration: none;
    color: #333;
    display: block;
}

.page-container[data-page = "home"] .page-content .articles-container .article-container .article-content .article-header{
    background-color: #fff;
    padding: 15px;
    text-align: center;
    min-height: 94px;
    position: relative;
    -webkit-transition: padding 0.4s ease 0s;
    transition: padding 0.4s ease 0s;
}

.page-container[data-page = "home"] .page-content .articles-container .article-container .article-content:hover .article-header{
    padding-top: 25px;
    padding-bottom: 25px;
}

.page-container[data-page = "home"] .page-content .articles-container .article-container .article-content .article-header:before{
    -webkit-filter:drop-shadow(0 2px 0 rgba(0, 0, 0, 0.1));
    filter:drop-shadow(0 2px 0 rgba(0, 0, 0, 0.1));
    background-image: url(../images/web/pages/rounded-bottom-small.png?2);
    background-position: center;
    width: 100%;
    height: 12px;
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
}

.page-container[data-page = "home"] .page-content .articles-container .article-container .article-content .article-header .article-category{
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.page-container[data-page = "home"] .page-content .articles-container .article-container .article-content .article-header .article-separation{
    width: 70px;
    height: 2px;
    margin: 7px auto 15px;
}

.page-container[data-page = "home"] .page-content .articles-container .article-container .article-content .article-header .article-title{
    font-size: 16px;
}

.page-container[data-page = "home"] .page-content .load-more-button,
.page-container[data-page = "community_photos"] .page-content .load-more-button{
    text-align: center;
}

.page-container[data-page = "home"] .page-content .load-more-button button:hover,
.page-container[data-page = "community_photos"] .page-content .load-more-button button:hover{
    color: #f7f9f9;
}

/* Page - Photos */
.page-container[data-page = "community_photos"] .page-header{
    background-image: url(../img/header/photos.png);
    background-color: #917557;
}

.page-container[data-page = "community_photos"] .page-content .photos-container{
    margin: -9px -9px 40px;
}

.page-container[data-page = "community_photos"] .page-content .photos-container .photo-container{
    width: 25%;
    float: left;
}

.page-container[data-page = "community_photos"] .page-content .photos-container .photo-container .photo-content{
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 250px;
    height: 250px;
    margin: 9px auto;
    position: relative;
    overflow: hidden;
}

.page-container[data-page = "community_photos"] .page-content .photos-container .photo-container .photo-content .photo-picture{
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    display: block;
}

.page-container[data-page = "community_photos"] .page-content .photos-container .photo-container .photo-content .photo-meta{
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 2px;
    right: 2px;
    bottom: -85px;
    z-index: 2;
    color: #333;
    text-decoration: none;
    -webkit-transition: bottom 0.2s ease 0s;
    transition: bottom 0.2s ease 0s;
}

.page-container[data-page = "community_photos"] .page-content .photos-container .photo-container .photo-content:hover .photo-meta{
    bottom: 2px;
}

.page-container[data-page = "community_photos"] .page-content .photos-container .photo-container .photo-content .photo-meta .photo-meta-left-side{
    width: 70px;
    height: 78px;
    text-align: center;
    font-size: 0;
    padding: 8px 0;
}

.page-container[data-page = "community_photos"] .page-content .photos-container .photo-container .photo-content .photo-meta .photo-meta-right-side{
    padding-right: 10px;
}

.page-container[data-page = "community_photos"] .page-content .photos-container .photo-container .photo-content .photo-meta .photo-meta-right-side .creator-name{
    font-size: 16px;
    font-weight: 500;
}

.page-container[data-page = "community_photos"] .page-content .photos-container .photo-container .photo-content .photo-meta .photo-meta-right-side .published-date{
    font-size: 12px;
    font-weight: 400;
}

/* Page - Team */
/* Page - Team */
.page-container[data-page = "community_team"] .page-header{
    background-image: url(../img/header/staff.png);
    background-color: #e88b16;
}

.page-container[data-page = "community_team"] .members-container{
    margin-top: 30px;
}

.page-container[data-page = "community_team"] .members-container .member-container:not(:first-child){
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 15px;
    padding-top: 15px;
}

.page-container[data-page = "community_team"] .members-container .member-container .member-content{
    text-decoration: none;
}

.page-container[data-page = "community_team"] .members-container .member-container .member-content .member-avatar{
    background-color: #dadada;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    width: 64px;
    height: 64px;
    -webkit-transition: background-color 0.2s ease 0s;
    transition: background-color 0.2s ease 0s;
}

.page-container[data-page = "community_team"] .members-container .member-container .member-content:hover .member-avatar{
    background-color: #e88b16;
}

.page-container[data-page = "community_team"] .members-container .member-container .member-content .member-details{
    padding: 0 15px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: normal;
}

.page-container[data-page = "community_team"] .members-container .member-container .member-content .member-details .details-username{
    font-size: 16px;
    font-weight: 500;
    margin-top: -2px;
}

.page-container[data-page = "community_team"] .members-container .member-container .member-content .member-details .details-function{
    font-size: 13px;
    margin: -2px 0 6px;
}

.page-container[data-page = "community_team"] .members-container .member-container .member-content .member-details .details-motto{
    font-size: 12px;
    font-style: italic;
    color: #828282;
}

.page-container[data-page = "community_team"] .members-container .member-container .member-content .member-status{
    width: 26px;
}

.page-container[data-page = "community_team"] .members-container .member-container .member-content .member-status .status-icon{
    background-color: #c71d1d;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    width: 18px;
    height: 18px;
    display: block;
}

.page-container[data-page = "community_team"] .members-container .member-container .member-content .member-status .status-icon.online{
    background-color: #38b54a;
}
/* Page - Settings */
.page-container[data-page ^= "settings_"] .page-header{
    background-image: url(../img/header/preferences.png);
    background-position: 84px center;
    background-color: #999999;
}

.page-container[data-page ^= "settings_"] .default-section{
    width: 100%;
    max-width: 700px;
    min-height: 390px;
    margin: 0 auto;
    padding: 30px 30px 30px 75px !important;
}

.page-container[data-page ^= "settings_"] .row{
    margin-bottom: 10px;
}

/* Page - Profile */
.page-container[data-page = "profile"] .page-header{
    background-image: url(../img/header/profile.png);
    background-color: #27282f;
}

.page-container[data-page = "profile"] .page-header h1{
    margin-bottom: 0;
}

.page-container[data-page = "profile"] .left-side{
    float: right;
    clear: right;
}

.page-container[data-page = "profile"] .right-side{
    float: left;
    clear: left;
}

.page-container[data-page = "profile"] .profile-header{
    background-image: url(../img/header/profile_card.png);
    background-position: center;
    margin: -20px -20px 20px;
    height: 230px;
    position: relative;
    overflow: hidden;
}

.page-container[data-page = "profile"] .profile-header:after{
    background-image: url(../images/web/pages/rounded-top-small.png?2);
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    height: 12px;
    content: "";
    display: block;
}

.page-container[data-page = "profile"] .profile-header .header-content{
    background-color: rgba(28, 174, 166, 0.8);
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 25px 0 130px;
}

.page-container[data-page = "profile"] .profile-header .header-content img{
    position: absolute;
    top: -10px;
    left: 0;
}

.page-container[data-page = "profile"] .profile-header .header-content .header-details{
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.page-container[data-page = "profile"] .profile-header .header-content .header-details .header-title{
    font-size: 20px;
    font-weight: 500;
}

.page-container[data-page = "profile"] .profile-header .header-content .header-details .header-description{
    font-size: 12px;
    font-style: italic;
    margin-top: 9px;
}

.page-container[data-page = "profile"] .profile-content .details-container{
    margin-top: 13px;
    position: relative;
}

.page-container[data-page = "profile"] .profile-content .details-container:before{
    position: absolute;
    top: -1px;
    left: 0;
    font-family: "Flaticon", sans-serif;
    font-size: 18px;
    width: 19px;
    text-align: center;
    display: block;
}

.page-container[data-page = "profile"] .profile-content .details-container.register:before{
    content: "ï„™";
}

.page-container[data-page = "profile"] .profile-content .details-container.status:before{
    content: "ï„—";
}

.page-container[data-page = "profile"] .profile-content .details-container.last_login:before{
    content: "ï„›";
}

.page-container[data-page = "profile"] .profile-content .details-container.rank:before{
    content: "ï…³";
}

.page-container[data-page = "profile"] .profile-content .details-container.join-date:before{
    content: "\f52b";
}

.page-container[data-page = "profile"] .profile-content .details-container.status .online{
    color: #1f991c;
}

.page-container[data-page = "profile"] .profile-content .details-container.status .offline{
    color: #c60d0d;
}

.page-container[data-page = "profile"] .profile-askfriend-button{
    text-align: center;
    margin-top: 30px;
}

.page-container[data-page = "profile"] .items-container .item-container{
    width: 20%;
    float: left;
    padding: 0 10px;
    text-align: center;
    display: block;
    color: #333;
    text-decoration: none;
    overflow: hidden;
}

.page-container[data-page = "profile"] .items-container .item-container .item-icon{
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.page-container[data-page = "profile"] .items-container .item-container .item-name{
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
    line-height: normal;
}

.page-container[data-page="profile"] .badges {
    height: 92px;
    width: 55%;
    margin-bottom: -33px;
}

.page-container[data-page = "profile"] .default-section[data-section = "badges"] .items-container .item-container .item-icon,
.page-container[data-page = "profile"] .default-section[data-section = "groups"] .items-container .item-container .item-icon{
    width: 50px;
    height: 50px;
}

.page-container[data-page = "profile"] .default-section[data-section = "friends"] .items-container .item-container .item-icon{
    width: 64px;
    height: 110px;
}

.page-container[data-page = "profile"] .default-section[data-section = "rooms"] .items-container .item-container .item-icon,
.page-container[data-page = "profile"] .default-section[data-section = "photos"] .items-container .item-container .item-icon{
    background-color: #d3d3d3;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.page-container[data-page = "article"] .members-container{
    margin-top: 30px;
}

.page-container[data-page = "article"] .members-container .member-container:not(:first-child){
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 15px;
    padding-top: 15px;
}

.page-container[data-page = "article"] .members-container .member-container .member-content{
    text-decoration: none;
    color: #333;
}

.page-container[data-page = "article"] .members-container .member-container .member-content .member-avatar{
    background-color: #dadada;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    width: 64px;
    height: 64px;
    -webkit-transition: background-color 0.2s ease 0s;
    transition: background-color 0.2s ease 0s;
}

.page-container[data-page = "article"] .members-container .member-container .member-content:hover .member-avatar{
    background-color: #853a59;
}

.page-container[data-page = "article"] .members-container .member-container .member-content .member-details{
    padding: 0 15px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: normal;
}

.page-container[data-page = "article"] .members-container .member-container .member-content .member-details .details-username{
    font-size: 16px;
    font-weight: 500;
    margin-top: -2px;
}

.page-container[data-page = "article"] .members-container .member-container .member-content .member-details .details-comment{
    font-size: 12px;
    margin-top: -2px;
}

.page-container[data-page = "article"] .members-container .member-container .member-content .member-details .details-function{
    font-size: 13px;
    margin: -2px 0 6px;
}

.page-container[data-page = "article"] .members-container .member-container .member-content .member-details .details-motto{
    font-size: 12px;
    font-style: italic;
    color: #828282;
}

.page-container[data-page = "article"] .members-container .member-container .member-content .member-status{
    width: 26px;
}

.page-container[data-page = "article"] .members-container .member-container .member-content .member-status .status-icon{
    background-color: #c71d1d;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    width: 18px;
    height: 18px;
    display: block;
}

.page-container[data-page = "article"] .members-container .member-container .member-content .member-status .status-icon.online{
    background-color: #38b54a;
}

.rounded-button.maroon{
    color: #3a0e0e;
    border-color: #3a0e0e;
}

.rounded-button.maroon:not([disabled]):not(.no-hover):hover,
.rounded-button.maroon.plain{
    background-color: #290b0b;
    color: #fff;
}

.rounded-button.maroon.plain:not([disabled]):not(.no-hover):hover{
    border-color: #290b0b;
    background-color: #290b0b;
}

.values-search-button {
    margin-top: 10px !important;
    text-align: center;
}

.header-container .header-content .account-container .account-buttons .rounded-button.plain, .header-container .header-content .account-container .account-buttons .rounded-button:not(.plain):hover {
    text-decoration: none;
}

.nav-link {
    background: transparent;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 5px;
    border: none !important;
}

.nav-link:hover {
    color: white !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: #174B6D;
    color: white;
    border-top: 1px solid white !important;
    border-left: 1px solid white !important;
    border-right: 1px solid white !important;
}