.page-container[data-page = "community_rooms"] {

  .page-header{
    background-image: url('/img/header/photos.png');
    background-color: #917557;

    a {
      color: white;
      font-weight: bold;
      text-decoration: none;
    }

  }

}

