.profile-section {
  overflow: hidden;
  padding: 0 !important;

  .profile-content {
    padding: 16px;
  }

  .background-image {
    background: url('https://i.imgur.com/03xVd5c.png') bottom;
  }

  .enter-hotel {
    background: #001726 !important;
    color: white !important;
    float: right;
    margin: 40px;
    border-color: lighten(#0F416C, 20%) !important;;

    &:hover {
      border-color: lighten(#0F416C, 35%) !important;;
    }

  }

  .enter-hotel:hover {
    text-decoration: none;
    opacity: 1;
  }

  .header-image {
    border-radius: 50%;
    background-color: #02353c;
    border: none;
    color: white;
    padding: 20px;
    height: 105px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -72px 2px;
    position: relative;
    float: left;
  }

  .figure {
    min-width: 64px;
    margin-top: -30px;
  }

  .stats {
    display: flex;
    width: 20%;
    margin-left: 120px;
    font-weight: bold;
  }

  .icons {
    padding-left: 35px;
    margin: 0 20%;
  }

}