.hotel-news {
  max-height: 500px;
  overflow-y: auto;

  .article-content {
    display: flex;
    overflow: hidden;
    padding: 10px;
    width: 100%;

    .article-image {
      border-radius: 5px;
      cursor: pointer;
      height: 120px;
      width: 120px;
    }

    .article-title {
      display: block;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      font-size: 1.4rem;
      font-weight: 600;
    }

    .article-body {
      display: block;
      font-size: 14px;

      span {
        font-weight: 600;
      }
    }
  }
}