$backgroundOne: linear-gradient(135deg,#15507c,#0c3a65) no-repeat fixed;
$backgroundTwo: #001726;

$primaryFontColor: white;

body {
  background: $backgroundOne;
}

.header-container.is-small {
  height: 75px;
}

.header-container {
  background-image: none;

  .logo-container {
    display: none;
  }

  .header-content {
    padding-top: 110px;
  }

}

.navigation-container {
  background: $backgroundTwo;

  .navigation-menu {

    .navigation-item.main-link-item>a {
      width: 138px;
      height: 33px;
      margin-top: 25px;
      margin-left: 10px;
      background-size: cover;
    }

    .navigation-item > a {
      color: $primaryFontColor;
    }

  }
}

.footer-container {
  background: $backgroundOne;
  color: white !important;
}

.article-container {

  .article-header {
    background-color: $backgroundTwo !important;
    color: $primaryFontColor !important;
  }

  .article-content {
    background-color: transparent !important;
    box-shadow: 0 0 10px $backgroundTwo !important;
  }

}

.login-popup {
  &:after {
    background-image: none;
  }
}