$backgroundOne: linear-gradient(135deg,#15507c,#0c3a65) no-repeat fixed;
$backgroundTwo: #001726;

$primaryFontColor: white;

body {
  background: $backgroundOne;
}

.header-container {
  background-image: none;

  .logo-container {
    display: none;
  }

}

.navigation-container {
  background: $backgroundTwo;

  navigation-menu .navigation-item > a {
    color: $primaryFontColor;
  }
}

.footer-container {
  background: $backgroundOne;
  color: white !important;
}