.page-container .related-articles-container {

  .related-article-container {
    display: block;
    background: #000B13;
    border: 1px solid #000B13;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    text-decoration: none;
    line-height: normal;

    &:hover {
      border-color: white;
    }

    :not(:first-child) {
      margin-top: 13px;
    }

    .related-article-thumbnail{
      background-position: center;
      width: 50px;
      height: 50px;
      float: left;
      margin-right: 10px;
    }

    .related-article-details{
      margin-top: -10px;
    }

    .related-article-title{
      font-weight: 400;
      font-size: 18px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .related-article-date{
      font-size: 12px;
      font-weight: 400;
      color: #969696;
      margin-top: -5px;
    }
  }

}