.page-container[data-page = "preferences"] {

  .page-header {
    background: #263238;
    background-image: url(http://localhost:3001/img/header/pattern.png);
    background-repeat: repeat;
  }

  .default-section{
    width: 100%;
    max-width: 800px;
    min-height: 390px;
    margin: 0 auto;
    padding: 30px 30px 30px 75px !important;
  }


}
