.login-page {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;

  .default-section {
    width: 100% !important;
  }

  .forgot-password {
    color: lighten(#10426E, 30%);
    font-size: 14px;
    text-decoration: none;

    &:hover {
      color: lighten(#0F416D, 20%);
    }
  }
}