.flash-disabled {
  background-image: url(https://images.habbo.com/habbo-web/america/en/assets/images/backgrounds/flash_error_bg.57539aa2.png);
  color: white;
  display: block;
  height: 368px;
  padding: 80px 17px 35px 242px;
  width: 639px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;

  h1 {
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
  }

}