.page-header {

  .article-header-shadow{
    position: absolute;
    top: -1px;
    left: 0;
    bottom: -1px;
    width: 330px;
  }

  .article-header-shadow .shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;

    .shadow {

      :nth-child(1) {
        right: 0;
      }

      :nth-child(2){
        right: 20px;
      }

      :nth-child(3){
        right: 40px;
      }

      :nth-child(4){
        right: 60px;
      }

    }
  }

  img {
    -ms-interpolation-mode: bicubic;
    image-rendering: auto;
  }

  .article-author {
    margin: 40px -13px -18px;

    .author-image{
      margin-right: 5px;
    }

    .author-details {

      .author-name{
        font-weight: 500;
      }

      .author-function{
        font-size: 12px;
        margin-top: -3px;
      }

    }

  }
}