.more-info-stats {
  background: #0F406B;
  border-radius: 100%;
  border: 2px solid white;
  text-align: center;
  padding: 15px;
  height: 60px;
  width: 60px;
  font-size: 16px;
  font-weight: bold;
  line-height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

