.page-header {

  .article-header-shadow{
    position: absolute;
    top: -1px;
    left: 0;
    bottom: -1px;
    width: 330px;
  }

  .article-header-shadow .shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;

    .shadow {

      :nth-child(1) {
        right: 0;
      }

      :nth-child(2){
        right: 20px;
      }

      :nth-child(3){
        right: 40px;
      }

      :nth-child(4){
        right: 60px;
      }

    }
  }

  img {
    -ms-interpolation-mode: bicubic;
    image-rendering: auto;

  }
}

.article-author {
  display: block;
  background: #000B13;
  border-radius: 10px;
  width: 230px;
  height: 70px;
  padding: 0 10px;
  margin-left: -5px;

  .author-details {
    margin-left: -15px;
    margin-top: 5px;

    .author-name {
      font-weight: 500;
      font-size: 20px;
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .author-function {
      font-size: 14px;
      margin-top: -3px;
    }

  }
}