.page-container[data-page = "list_gangs"] {

  .page-header {
    background: #880E4F;
    background-image: url('/img/header/hippies.png');
    background-repeat: no-repeat;
    background-position: 5px;
  }

}